.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  background-color: lightcoral;
  width: 100%;
  text-align: center;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px; 
}

.navbar {
  background-color: lightcoral;
  width: 100%;
  text-align: center;
  position:fixed;
  font-size: 18px;
}